#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

a {
  text-decoration: none;
}

#rectangle {
  height: 850px;
  align-self: center;

  background: #ffffff;
  box-shadow: 40px 40px 30px rgba(255, 255, 255, 0.25);
  border-radius: 45px;
}

@media screen and (max-width: 2000px) {
  #rectangle {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  #rectangle {
    width: 100%;
  }
}
@media screen and (max-width: 2000px) {
  #container {
    margin-top: 1%;
  }
}
@media screen and (max-width: 500px) {
  #container {
    margin-top: 5%;
  }
}

#image {
  width: 330px;
  height: 470px;

  background: url(images/capybaraAI.jpg);
  background-size: 150%;
  background-position: 40%;
  filter: drop-shadow(30px 30px 50px rgba(0, 0, 0, 0.25));
  border-radius: 45px 0px;
}

#ignatka {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  margin-left: 110%;
}

#linkVK {
  position: absolute;
  margin-left: 110%;
  margin-top: 30%;
  transition: 0.3s;

  height: 15%;
  width: 60%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 130%;

  background: #adadad;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}
#linkVK img {
  width: 42px;
  margin-bottom: -6.5%;
}
#linkTG {
  position: absolute;
  margin-left: 110%;
  margin-top: 60%;
  transition: 0.3s;

  height: 15%;
  width: 60%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 130%;

  background: #adadad;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}
#linkTG img {
  width: 42px;
  margin-bottom: -6.5%;
}
#linkDC {
  position: absolute;
  margin-left: 110%;
  margin-top: 90%;
  transition: 0.3s;

  height: 15%;
  width: 60%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 130%;

  background: #adadad;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}
#linkDC img {
  width: 42px;
  margin-bottom: -6.5%;
}
#linkPR {
  position: absolute;
  margin-left: 110%;
  margin-top: 120%;
  transition: 0.3s;

  height: 15%;
  width: 60%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 130%;

  background: #adadad;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-style: none;
}
#linkPR img {
  width: 42px;
  margin-bottom: -6.5%;
}

#desc {
  margin-left: 2%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

#linkVK:hover {
  transition: 0.3s;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.25);

  margin-left: 109%;
  margin-top: 29%;

  cursor: pointer;
}

#linkTG:hover {
  transition: 0.3s;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.25);

  margin-left: 109%;
  margin-top: 59%;

  cursor: pointer;
}

#linkDC:hover {
  transition: 0.3s;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.25);

  margin-left: 109%;
  margin-top: 89%;

  cursor: pointer;
}

#linkPR:hover {
  transition: 0.3s;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.25);

  margin-left: 109%;
  margin-top: 119%;

  cursor: pointer;
}
